mixin blog(posts, paging)
    div.posts
        +paging(paging)
        each post in posts
            div.post-title=post.title
            div.post-info
                span.post-detail!='<a href="?action=blog&author=' + post.author + '">' + post.author + '</a>'
                span.post-detail!='<a href="?action=blog&cat=' + post.category + '">' + post.category + '</a>'
                span.post-detail!='Modified: ' + post.date.modified
            article.post-body
                div.post-content!= post.content
        +paging(paging)
