mixin blog(settings, posts, paging)
    div.posts
        +paging(paging)
        each post in posts
            div.post-title!='<a href="?action=blog&post=' + post._id + '">' + post.title + '</a><span class="comment-counts"><span class="disqus-comment-count" data-disqus-identifier="' + post._id + '"></span></span>'
            div.post-info
                span.post-detail!='<a href="?action=blog&author=' + post.author + '">' + post.author + '</a>'
                span.post-detail!='<a href="?action=blog&cat=' + post.category + '">' + post.category + '</a>'
                span.post-detail!='Modified: ' + post.date.modified
            article.post-body
                if paging.post
                    div.post-content!= post.content
                    +disqus(settings.disqusAccount, post._id)
                else
                    - var limitedPostContent = (post.content.length > 500) ? post.content.substr(0, 500) + '... <a href="?action=blog&post=' + post._id + '">[more]</a>' : post.content;
                    div.post-content!= limitedPostContent

        +paging(paging)

    script#dsq-count-scr(src='//' + settings.disqusAccount + '/count.js' async)
